.about {
  display: flex;
  justify-content: center;
  width: 100%;
}

.about__content {
  padding: 42px 80px 48px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: $min-width;
}

.about__title {
  position: relative;

  width: 100%;
  margin: 0 0 38px;

  font-family: $gotham;
  font-size: 38px;
  font-weight: 500;
  line-height: 45px;
  text-align: center;

  &::before {
    content: "";

    position: absolute;
    bottom: -29px;
    left: 50%;

    width: 164px;
    height: 17px;

    background-image: url("../img/icon-wheel.png");
    background-repeat: no-repeat;

    transform: translateX(-50%);
  }
}

.about__caption {
  display: block;
  width: 100%;
  margin-bottom: 42px;

  font-size: 21px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
}

.about__image {
  margin: 0 0 0 0;

  border-radius: 50%;
}

.about__services {
  width: 66%;
  margin-bottom: 40px;
}

.about__facts {
  display: flex;
  width: 100%;
  padding: 36px 48px 125px;

  background-image: url("../img/bg-facts.svg");
  background-repeat: no-repeat;
}

.about__fact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  width: 206px;
  margin-right: 26px;
  padding: 0 5px;

  &:last-child {
    margin-right: 0;
  }
}

.about__fact-indicator {
  display: block;

  font-family: $lato;
  font-size: 56px;
  line-height: 60px;
  color: $extra-color;

  span {
    font-size: 29px;
  }
}

.about__fact-description {
  width: 100%;
  margin: 0;

  font-size: 17px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
}
