.button {
  width: auto;
  padding: 1px 18px 1px;

  font-family: $roboto;

  font-size: 14px;
  font-weight: 700;
  line-height: 27px;
  color: #ffffff;

  border: none;
  background-color: $extra-color;
}
