.header {
  width: 100%;
}

.header__top-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;

  background-color: #f6f6f6;
  border-bottom: 1px solid #e7e7e7;
}

.header__top-bar {
  display: flex;
  width: $min-width;
  padding: 15px 14px 10px;

  color: #666666;
}

.header__link-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  margin: 0;

  text-align: center;
}

.header__city-link {
  position: relative;

  display: block;
  margin-left: 29px;

  border-bottom: 1px dashed;

  line-height: 16px;
  color: #666666;

  transition: all 0.1s ease-in;

  &:hover,
  &:focus {
    color: #009cff;

    border-color: #009cff;
  }

  &::before {
    content: "";

    position: absolute;
    top: 0px;
    left: -21px;

    width: 11px;
    height: 15px;

    background-image: url("../img/icon-pin-gray.png");
    background-repeat: no-repeat;
  }
}

.header__nav {
  width: 50%;
}

.header__schedule {
  margin: 0;
  padding-left: 41px;

  text-align: right;

  background-image: url("../img/icon-clock.png");
  background-repeat: no-repeat;
  background-position: 17px 1px;
}

.header__bottom-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.header__bottom-bar {
  display: flex;
  width: $min-width;
  padding: 24px 14px 27px;

  .header__column {
    border-left : 1px solid #f6f6f6;
  }
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;

  img {
    display: block;
  }
}

.header__column {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.header__description {
  margin: 0;

  font-family: $gotham;
  font-weight: 500;
  font-size: 19px;
  line-height: 25px;
  color: #000000;
}

.header__contact {
  width: 25%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  border-left: 1px solid #f6f6f6;
}

.header__number {
  display: block;
  margin-bottom: 10px;

  color: #000000;
  font-family: $lato;
  font-size: 22px;
  line-height: 25px;
  font-weight: 700;
  text-transform: uppercase;
}

.header__call-button {
  align-self: flex-end;
  margin-right: 45px;
  padding-left: 32px;
  padding-right: 15px;

  background-image: url("../img/icon-phone.png");
  background-repeat: no-repeat;
  background-position: 11px 8px;
}
