$min-width: 1180px;
$max-width: 1920px;

$roboto: "Roboto", Arial, sans-serif;
$gotham: "Gotham Pro", Arial, sans-serif;
$lato: "Lato", Arial, sans-serif;
$opensans: "Open Sans", Arial, sans-serif;

$main-color: #00b4ff;
$extra-color: #ff5a00;
